@mixin menu($num-menu, $num-bg-menu) {
    .menu {
      &-#{$num-menu} {
        background-color: map-get($map: $bg-menu, $key: $num-bg-menu);
      }
    }
  }
  
  @mixin menu-titre($num-menu, $color1, $color2, $color3) {
    .menu-titre {
      &-#{$num-menu} {
        background: -webkit-linear-gradient(
          -45deg,
          map-get($map: $color1-menu-titre, $key: $color1) 10%,
          map-get($map: $color2-menu-titre, $key: $color2) 60%,
          map-get($map: $color3-menu-titre, $key: $color3) 80%
        );
      }
    }
  }
  
  @mixin menu-p($num-menu, $color) {
    .menu-p {
      &-#{$num-menu} {
        color: map-get($map: $color-menu-p, $key: $color);
      }
    }
  }